# Practical_3: Iterable objects or Containers

### Exercise 1:
Create a list of integers from 1 to 10.

```python
# Exercise 1
```

In [1]:
my_list=[1,2,3,4,5,6,7,8,9,10]
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

---

### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

```python
# Exercise 2
```

In [2]:
My_tuple=("apple","banana","cherry")
print(My_tuple)

('apple', 'banana', 'cherry')

---

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

```python
# Exercise 3
```

---

In [3]:
numbers=[10,20,30,40]
My_tuple=tuple(numbers)
My_tuple

(10, 20, 30, 40)

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

```python
# Exercise 4
```

---

In [4]:
v = [1,2,3,4,5]
V = set(v)
print(V)

{1, 2, 3, 4, 5}

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

```python
# Exercise 5
```

---

In [5]:
student={"name":"Alice","age":20,"grade":"A"}
print(student)

{'name': 'Alice', 'age': 20, 'grade': 'A'}

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

```python
# Exercise 6
```

---

In [2]:
list_a=[10,20,30,40]
list_a[1]

20

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

```python
# Exercise 7
```

---

In [7]:
fruits=["apple","banana","cherry","orange"]
fruits[2]="mango"
fruits

['apple', 'banana', 'mango', 'orange']

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 8
```

---

In [9]:
numbers=[1,2,3,4,5]
numbers.append(6)
print(set(numbers))

{1, 2, 3, 4, 5, 6}

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

```python
# Exercise 9
```

---

In [9]:
person = {"name": "John", "age": 25, "city": "New York"}
del person["age"]
print(person)

{'name': 'John', 'city': 'New York'}

### Exercise 10:
Create a range object starting from 0 to 9.

```python
# Exercise 10
```

---

In [10]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

```python
# Exercise 11
```

---

In [11]:
squares=[x**2 for x in range(1,11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

```python
# Exercise 12
```

---

In [144]:
even_numbers_tuple=tuple(num for num in range (2,11) if num%2==0)
print(f"Tuple of even numbers:{even_numbers_tuple}")

Tuple of even numbers:(2, 4, 6, 8, 10)

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

```python
# Exercise 13
```

---

In [145]:
fruits=["apple", "banana", "cherry"]
print("\nIterating through fruits :")
for fruit in fruits:
    print(fruit)

Iterating through fruits :
apple
banana
cherry

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 14
```

---

In [146]:
numbers = {1, 2, 3, 4, 5}
if 3 in numbers:
    print(f"\nThe value 3 exist in the set {numbers}")
else:
    print(f"\nThe value 3 does not exist in the set {numbers}")

The value 3 exist in the set {1, 2, 3, 4, 5}

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

```python
# Exercise 15
```

---

In [147]:
numbers=(10,20,30)
len(numbers)

3

### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

```python
# Exercise 16
```

---

In [148]:
scores=[80, 85, 90, 95]
scores.append(100)
print(scores)

[80, 85, 90, 95, 100]

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

```python
# Exercise 17
```

---

In [149]:
def sum_list_elements(input_list):
    return sum(input_list)
my_list = [1, 2, 3, 4, 5]
total_sum = sum_list_elements(my_list)
print(f"The sum of elements in {my_list} is: {total_sum}")

The sum of elements in [1, 2, 3, 4, 5] is: 15

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 18
```

---

In [150]:
numbers=[1,2,2,3,4,4,5]
V=set(numbers)
print(V)

{1, 2, 3, 4, 5}

### Exercise 19:
Convert the string `"hello"` into a list of characters.

```python
# Exercise 19
```

---

In [151]:
ch="hello"
ch

'hello'

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

```python
# Exercise 20
```

---

In [152]:
def reverse_tuple(input_tuple):
    return input_tuple[::-1]
my_tuple = (1, 2, 3, 4)
reversed_my_tuple = reverse_tuple(my_tuple)
print(reversed_my_tuple)

(4, 3, 2, 1)

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

```python
# Exercise 21
```

---

In [153]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

```python
# Exercise 22
```

In [154]:
squares_dict = {i: i**2 for i in range(1, 6)}
print(squares_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

```python
# Exercise 23
```

---

In [155]:
my_dictionary = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}
for key, value in my_dictionary.items():
    print(f"Key: {key}, Value: {value}")

Key: name, Value: Alice
Key: age, Value: 30
Key: city, Value: New York

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

```python
# Exercise 24
```

---

In [156]:
letters = [chr(i) for i in range(ord('A'), ord('A') + 5)]
print(letters)

['A', 'B', 'C', 'D', 'E']

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

```python
# Exercise 25
```

---

In [157]:
liste_1=[1, 2, 3]
liste_2=["a", "b", "c"]
combined_list = list(zip(liste_1, liste_2))
print(combined_list)

[(1, 'a'), (2, 'b'), (3, 'c')]

### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

```python
# Exercise 26
```

---

In [158]:
my_list = [10, 20, 30, 40, 50]
index = my_list.index(50)
print(f"L'index de la valeur 50 est : {index}")

L'index de la valeur 50 est : 4

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

```python
# Exercise 27
```

---

In [159]:
names = ["Alice", "Bob", "Charlie", "David"]
names.sort()
print(names)

['Alice', 'Bob', 'Charlie', 'David']

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

```python
# Exercise 28
```

---

In [2]:
def find_largest_number(numbers):
    return max(numbers)
my_list = [3, 1, 4, 1, 5, 9, 2, 6]
largest = find_largest_number(my_list)
print(f"The largest number in the list is: {largest}")

The largest number in the list is: 9

### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

```python
# Exercise 29
```

---

In [44]:
fruits = ["apple", "banana", "apple", "orange"]
count = fruits.count("apple")
print(count)

2


### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

```python
# Exercise 30
```

---

In [3]:
person={"name":"Alice","age":25,"city":"New York"}
person["city"]

'New York'

### Exercise 31:
Write a Python function that takes a list as input and returns a new list with all duplicates removed.

```python
# Exercise 31
```

---

In [7]:
def remove_duplicates(input_list):
    seen = set()
    unique_list = []
    for item in input_list:
        if item not in seen:
            unique_list.append(item)
            seen.add(item)
    return unique_list
remove_duplicates([1,5,6,8,2,3,4])

[1, 5, 6, 8, 2, 3, 4]

### Exercise 32:
Write a Python function that takes two lists and returns their intersection.

```python
# Exercise 32
```

---

In [19]:
def find_list_intersection(list1, list2):
    set1 = set(list1)
    set2 = set(list2)
    intersection_set = set1.intersection(set2)
    return list(intersection_set)
list_a = [1, 2, 3, 4, 5]
list_b = [3, 4, 5, 6, 7]
common_elements = find_list_intersection(list_a, list_b)
print(f"The intersection of {list_a} and {list_b} is: {common_elements}")

list_c = ['apple', 'banana', 'orange']
list_d = ['banana', 'grape', 'kiwi', 'orange']
common_fruits = find_list_intersection(list_c, list_d)
print(f"The intersection of {list_c} and {list_d} is: {common_fruits}")

The intersection of [1, 2, 3, 4, 5] and [3, 4, 5, 6, 7] is: [3, 4, 5]
The intersection of ['apple', 'banana', 'orange'] and ['banana', 'grape', 'kiwi', 'orange'] is: ['banana', 'orange']

### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

```python
# Exercise 33
```

---

In [20]:
def square_generator(n):
  """Generates squares of numbers from 1 up to n."""
  for i in range(1, n + 1):
    yield i * i
squares = square_generator(10)
for num in squares:
    print(num)

1
4
9
16
25
36
49
64
81
100

### Exercise 34:
Write a Python function that takes a dictionary as input and returns the sum of all its values.

```python
# Exercise 34
```

---

In [21]:
def sum_dictionary_values(input_dict):
  """
  Calculates the sum of all numeric values in a dictionary

  Returns:
    The sum of all values in the dictionary.
  """
  return sum(input_dict.values())
my_dict = {'a': 10, 'b': 20, 'c': 30}
total_sum = sum_dictionary_values(my_dict)
print(f"The sum of values in the dictionary is: {total_sum}")

The sum of values in the dictionary is: 60

### Exercise 35:
Use the `sorted()` function to sort the list `[3, 1, 4, 1, 5, 9]` in ascending order.

```python
# Exercise 35
```

---

In [22]:
liste=[3, 1, 4, 1, 5, 9]
liste.sort()
print(liste)

[1, 1, 3, 4, 5, 9]

### Exercise 36:
Write a Python function that takes a list of strings as input and returns the longest string.

```python
# Exercise 36
```

---

In [25]:
def find_longest_string(string_list):
    if not string_list:
        return None  
    longest_string = "" 
    for s in string_list:
        if len(s) > len(longest_string):
            longest_string = s
    return longest_string
find_longest_string(["name","age","city","height"])

'height'

### Exercise 37:
Check if all the elements in the list `[1, 2, 3, 4, 5]` are greater than 0 using the `all()` function.

```python
# Exercise 37
```

---

In [26]:
my_list = [1, 2, 3, 4, 5]
result = all(x > 0 for x in my_list)
print(result)

True

### Exercise 38:
Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

```python
# Exercise 38
```

---

In [27]:
squares_tuple = {i**2 for i in range(1, 6)}
print(squares_tuple)

{1, 4, 9, 16, 25}

### Exercise 39:
Write a Python function that takes a list of tuples and returns a list of the second elements from each tuple.

```python
# Exercise 39
```

---

In [29]:
def get_second_elements(list_of_tuples):
    return [t[1] for t in list_of_tuples]
data = [('apple', 1), ('banana', 2), ('cherry', 3)]
second_elements = get_second_elements(data)
print(second_elements)

[1, 2, 3]

### Exercise 40:
Write a Python function that flattens a list of lists into a single list.

```python
# Exercise 40
```

---

In [172]:
liste_1 = { 1, 2,4,3}
liste_2 = {3,4,5,6}
liste_1.update(liste_2)
print(liste_1)

{1, 2, 3, 4, 5, 6}

### Exercise 41:
Use the `enumerate()` function to iterate through the list `["apple", "banana", "cherry"]` and print the index and value.

```python
# Exercise 41
```

---

In [173]:
my_list = ["apple", "banana", "cherry"]
for index, value in enumerate(my_list):
    print(f"Index: {index}, Value: {value}")

Index: 0, Value: apple
Index: 1, Value: banana
Index: 2, Value: cherry

### Exercise 42:
Write a Python program that checks if a tuple is empty.

```python
# Exercise 42
```

---

In [174]:
def is_tuple_empty_not_operator(my_tuple):
    if not my_tuple:
        return True
    else:
        return False
empty_tuple = ()
non_empty_tuple = (1, 2, 3)

print(f"Is {empty_tuple} empty? {is_tuple_empty_not_operator(empty_tuple)}")
print(f"Is {non_empty_tuple} empty? {is_tuple_empty_not_operator(non_empty_tuple)}")

Is () empty? True
Is (1, 2, 3) empty? False

### Exercise 43:
Create a list of even numbers between 1 and 20 using the `range()` function.

```python
# Exercise 43
```

---

In [175]:
even_numbers_liste=list(num for num in range (2,21) if num%2==0)
print(f"Liste of even numbers:{even_numbers_liste}")

Liste of even numbers:[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Exercise 44:
Write a Python function that takes a list of numbers as input and returns the list in reverse order.

```python
# Exercise 44
```

---

In [176]:
def reverse_list(input_list):
    return input_list[::-1]
my_list = [1, 2, 3, 4]
reversed_my_list = reverse_list(my_list)
print(reversed_my_list)

[4, 3, 2, 1]

### Exercise 45:
Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.

```python
# Exercise 45
```

---

In [177]:
cubes_dict = {num: num**3 for num in range(1, 6)}
print(cubes_dict)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

### Exercise 46:
Write a Python program that creates a new list containing only the unique elements of the list `[1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 46
```

---

In [178]:
original_list = [1, 2, 2, 3, 4, 4, 5]
unique_elements_set = set(original_list)
unique_list = list(unique_elements_set)
print(f"The original list is: {original_list}")
print(f"The list with unique elements is: {unique_list}")

The original list is: [1, 2, 2, 3, 4, 4, 5]
The list with unique elements is: [1, 2, 3, 4, 5]

### Exercise 47:
Write a Python function that takes a list of dictionaries and returns a list of the values for a given key.

```python
# Exercise 47
```

---

In [179]:
data = [
    {"name": "Alice", "age": 30, "city": "New York"},
    {"name": "Bob", "age": 25, "city": "London"},
    {"name": "Charlie", "city": "Paris"},
    {"name": "David", "age": 35}
]
for i in data:
    print(i["name"])

Alice
Bob
Charlie
David

### Exercise 48:
Write a Python function that uses a generator to yield the Fibonacci sequence up to `n` terms.

```python
# Exercise 48
```

---

In [30]:
def fib(n):
    if n <= 1:
        return n
    return fib(n-1) + fib(n-2)
fib(6)

8

### Exercise 49:
Write a Python function that takes a string and returns a list of all unique characters in the string.

```python
# Exercise 49
```

---

In [32]:
def get_unique_characters(input_string):
    return list(set(input_string))
get_unique_characters("mathematique")

['u', 'a', 'h', 'i', 'm', 'q', 'e', 't']

### Exercise 50:
Write a Python function that merges two sorted lists into a single sorted list.

```python
# Exercise 50
```

---

In [39]:
def merge_sorted_lists(list1, list2):
    merged_list = []
    i = 0  
    j = 0  
    while i < len(list1):
        merged_list.append(list1[i])
        i += 1
    while j < len(list2):
        merged_list.append(list2[j])
        j += 1
    return merged_list
list_a = [1, 3, 5, 7]
list_b = [2, 4, 6, 8, 10]
result = merge_sorted_lists(list_a, list_b)
print(f"Merged sorted list: {result}")

list_c = []
list_d = [1, 2, 3]
result2 = merge_sorted_lists(list_c, list_d)
print(f"Merged sorted list with an empty list: {result2}")

Merged sorted list: [1, 3, 5, 7, 2, 4, 6, 8, 10]
Merged sorted list with an empty list: [1, 2, 3]

### Exercise 51:
Use the `filter()` function to filter out odd numbers from the list `[1, 2, 3, 4, 5, 6]`.

```python
# Exercise 51
```

---

In [40]:
numbers = [1, 2, 3, 4, 5, 6]
odd_numbers = list(filter(lambda x: x % 2 != 0, numbers))
print(odd_numbers)

[1, 3, 5]

### Exercise 52:
Write a Python program that converts a list of tuples `[(1, 2), (3, 4), (5, 6)]` into a dictionary.

```python
# Exercise 52
```

---

In [185]:
list_of_tuples = [(1, 2), (3, 4), (5, 6)]
result_dict = dict(list_of_tuples)
print(result_dict)

{1: 2, 3: 4, 5: 6}

### Exercise 53:
Write a Python function that takes two sets and returns their symmetric difference.

```python
# Exercise 53
```

---

In [186]:
def get_symmetric_difference(set1, set2):
    return set1.symmetric_difference(set2)
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}
result = get_symmetric_difference(set_a, set_b)
print(f"The symmetric difference of {set_a} and {set_b} is: {result}")

The symmetric difference of {1, 2, 3, 4} and {3, 4, 5, 6} is: {1, 2, 5, 6}

### Exercise 54:
Write a Python program that finds the common elements in three lists `list1`, `list2`, and `list3`.

```python
# Exercise 54
```

---

In [41]:
def find_common_elements(list1, list2,list3):
    set1 = set(list1)
    set2 = set(list2)
    set3 = set(list3)
    common_elements_set = set1.intersection(set2,set3)
    return list(common_elements_set)
list_1 = [1, 2, 3, 4, 5,10]
list_2 = [3, 4, 5, 6, 7, 3]
list_3 = [6, 7, 4, 9, 2, 6]

common_items = find_common_elements(list_1, list_2, list_3)
print(f"The common elements in all three lists are: {common_items}")

The common elements in all three lists are: [4]

### Exercise 55:
Write a Python function that returns the factorial of a number using recursion.

```python
# Exercise 55
```

---

In [243]:
def fact(n):
    if n <= 1:           
        return 1
    return n * fact(n-1)

n=6
fact(6)

720

### Exercise 56:
Write a Python program that removes all empty strings from the list `["apple", "", "banana", "", "cherry"]`.

```python
# Exercise 56
```

---

In [187]:
list_in_place = ["apple", "", "banana", "", "cherry"] 
while "" in list_in_place:
    list_in_place.remove("")
print(f"Modifying in-place with while loop: {list_in_place}")

Modifying in-place with while loop: ['apple', 'banana', 'cherry']

### Exercise 57:
Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.

```python
# Exercise 57
```

---

In [188]:
def swap_keys_values(original_dict):
    swapped_dict = {value: key for key, value in original_dict.items()}
    return swapped_dict
my_dict = {'a': 1, 'b': 2, 'c': 3}
swapped_result = swap_keys_values(my_dict)
print(swapped_result)

{1: 'a', 2: 'b', 3: 'c'}

### Exercise 58:
Write a Python function that takes a list of integers and returns a new list with only the even numbers.

```python
# Exercise 58
```

---

In [46]:
def get_even_numbers(numbers):
    even_numbers = []
    for number in numbers:
        if number % 2 == 0:  
            even_numbers.append(number)
    return even_numbers
my_list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_list=get_even_numbers(my_list)
print(f"Original list:{my_list}")
print(f"Even numbers list:{even_list}")

Original list:[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Even numbers list:[2, 4, 6, 8, 10]

### Exercise 59:
Write a Python function that takes a list of tuples and returns a list of the first elements of each tuple.

```python
# Exercise 59
```

---

In [47]:
def get_first_elements(list_of_tuples):
    return [t[0] for t in list_of_tuples]
my_list_of_tuples = [('apple', 1), ('banana', 2), ('cherry', 3)]
first_elements = get_first_elements(my_list_of_tuples)
print(first_elements)

['apple', 'banana', 'cherry']

### Exercise 60:
Write a Python program that removes duplicates from a list without changing the order of elements.

```python
# Exercise 60
```

---

In [48]:
def remove_duplicates_preserve_order(input_list):
    return list(dict.fromkeys(input_list))
my_list = [1, 2, 2, 3, 4, 4, 5, 1, 6]
unique_list = remove_duplicates_preserve_order(my_list)
print(f"Original list: {my_list}")
print(f"List with duplicates removed (order preserved): {unique_list}")

Original list: [1, 2, 2, 3, 4, 4, 5, 1, 6]
List with duplicates removed (order preserved): [1, 2, 3, 4, 5, 6]

### Exercise 61:
Use the `map()` function to convert a list of strings to a list of their lengths.

```python
# Exercise 61
```

---

In [49]:
string_list = ["apple", "banana", "cherry", "date"]
lengths_map_object = map(len, string_list)
lengths_list = list(lengths_map_object)
print(lengths_list)

[5, 6, 6, 4]

### Exercise 62:
Write a Python program that calculates the average of a list of numbers.

```python
# Exercise 62
```

---

In [50]:
def calculate_average(numbers_list):
    if not numbers_list:
        return 0
    total_sum = sum(numbers_list)
    average = total_sum / len(numbers_list)
    return average
my_numbers = [10, 20, 30, 40, 50]
avg = calculate_average(my_numbers)
print(f"The average of {my_numbers} is: {avg}")

The average of [10, 20, 30, 40, 50] is: 30.0

### Exercise 63:
Write a Python function that generates a list of the first `n` Fibonacci numbers.

```python
# Exercise 63
```

---

In [143]:
def generate_fibonacci_list(n):
    if n <= 0:
        return []
    elif n==1:
        return[0]
    else:
        fib_list=[0, 1]
        while len(fib_list)<n:
            next_fib=fib_list[-1] + fib_list[-2]
            fib_list.append(next_fib)
    return fib_list
generate_fibonacci_list(6)

[0, 1, 1, 2, 3, 5]

### Exercise 64:
Write a Python program that counts how many times each element appears in the list `["apple", "banana", "apple", "cherry"]`.

```python
# Exercise 64
```

---

In [142]:
my_list = ["apple", "banana", "apple", "cherry"]
element_counts = Counter(my_list)
print(element_counts)

Counter({'apple': 2, 'banana': 1, 'cherry': 1})

### Exercise 65:
Write a Python program that removes all occurrences of a specific value from a list.

```python
# Exercise 65
```

---

In [53]:
def remove_all_occurrences_comprehension(input_list, value_to_remove):
    new_list = [item for item in input_list if item != value_to_remove]
    return new_list
my_list = [1, 2, 3, 2, 4, 2, 5]
value = 2
modified_list = remove_all_occurrences_comprehension(my_list, value)
print(f"Original list: {my_list}")
print(f"List after removing {value}: {modified_list}")

Original list: [1, 2, 3, 2, 4, 2, 5]
List after removing 2: [1, 3, 4, 5]

### Exercise 66:
Write a Python function that takes a list of strings and returns a list of the strings that start with a vowel.

```python
# Exercise 66
```

---

In [55]:
def get_vowel_starting_strings(string_list):
    vowels = "aeiouAEIOU"
    result = []
    for word in string_list:
        if word and word[0] in vowels:  
            result.append(word)
    return result
get_vowel_starting_strings(["marie","papa","ami","aysa","abou"])

['ami', 'aysa', 'abou']

### Exercise 67:
Write a Python program that finds the intersection of two sets `set1` and `set2`.

```python
# Exercise 67
```

---

In [56]:
def find_set_intersection(set1, set2):
    intersection_method = set1.intersection(set2)
    print(f"Intersection using .intersection() method: {intersection_method}")
    return intersection_method 
if __name__ == "__main__":
    my_set1 = {1, 2, 3, 4, 5}
    my_set2 = {4, 5, 6, 7, 8}
    print(f"Set 1: {my_set1}")
    print(f"Set 2: {my_set2}")
    result_intersection = find_set_intersection(my_set1, my_set2)
    print(f"The final intersection is: {result_intersection}")

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Intersection using .intersection() method: {4, 5}
The final intersection is: {4, 5}

### Exercise 68:
Write a Python function that flattens a nested list.

```python
# Exercise 68
```

---

In [107]:
def flatten_list(nested_list):
    flat_list = []
    for item in nested_list:
        if isinstance(item, list):
            flat_list.extend(flatten_list(item))
        else:
            flat_list.append(item)
    return flat_list
nested_list=[1, [2, [3, 4], 5], 6]
print(flatten_list(nested_list))

[1, 2, 3, 4, 5, 6]

### Exercise 69:
Write a Python program that checks if all the elements in a list are unique.

```python
# Exercise 69
```

---

In [57]:
def are_all_elements_unique(input_list):
    unique_elements_set = set(input_list)
    return len(unique_elements_set) == len(input_list)
list1 = [1, 2, 3, 4, 5]
list2 = [1, 2, 3, 2, 4]
list4 = ["apple", "banana", "orange"]
list5 = ["red", "green", "red"]
print(f"List: {list1}, All elements unique: {are_all_elements_unique(list1)}")
print(f"List: {list2}, All elements unique: {are_all_elements_unique(list2)}")
print(f"List: {list4}, All elements unique: {are_all_elements_unique(list4)}")
print(f"List: {list5}, All elements unique: {are_all_elements_unique(list5)}")

List: [1, 2, 3, 4, 5], All elements unique: True
List: [1, 2, 3, 2, 4], All elements unique: False
List: ['apple', 'banana', 'orange'], All elements unique: True
List: ['red', 'green', 'red'], All elements unique: False

### Exercise 70:
Use the `reduce()` function from the `functools` module to multiply all elements in a list.

```python
# Exercise 70
```

---

In [141]:
my_list = [1, 2, 3, 4, 5]
multiply_elements = lambda x, y: x * y
product = reduce(multiply_elements, my_list)
print(f"The list is: {my_list}")
print(f"The product of all elements is: {product}")

The list is: [1, 2, 3, 4, 5]
The product of all elements is: 120

### Exercise 71:
Write a Python function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.

```python
# Exercise 71
```

---

In [62]:
def create_string_length_dict(string_list):
    result_dict = {}
    for s in string_list:
        result_dict[s] = len(s)
    return result_dict
create_string_length_dict(["banana","apple","orange"])

{'banana': 6, 'apple': 5, 'orange': 6}

### Exercise 72:
Write a Python program that counts the number of vowels in a string.

```python
# Exercise 72
```

---

In [8]:
def count_vowels(input_string):
    vowels = "aeiouAEIOU"
    vowel_count = 0
    for char in input_string:
        if char in vowels:
            vowel_count += 1
    return vowel_count
my_string = "Hello World! This is a test string."
num_vowels = count_vowels(my_string)
print(f"The number of vowels in '{my_string}' is: {num_vowels}")

The number of vowels in 'Hello World! This is a test string.' is: 8

### Exercise 73:
Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.

```python
# Exercise 73
```

---

In [65]:
import math
factorial_list = []
for i in range(1, 6):
    factorial_list.append((i, math.factorial(i)))
print(factorial_list)

[(1, 1), (2, 2), (3, 6), (4, 24), (5, 120)]

### Exercise 74:
Write a Python program that converts a list of dictionaries into a single dictionary by merging them.

```python
# Exercise 74
```

---

In [9]:
def merge_list_of_dicts(dict_list):
    merged_dict={}
    for d in dict_list:
        merged_dict.update(d)
    return merged_dict   
list_of_dictionaries = [
    {"name": "Alice", "age": 30},
    {"city": "New York", "occupation": "Engineer"},
    {"age": 31, "country": "USA"}
]
single_dictionary = merge_list_of_dicts(list_of_dictionaries)
print(single_dictionary)

{'name': 'Alice', 'age': 31, 'city': 'New York', 'occupation': 'Engineer', 'country': 'USA'}

### Exercise 75:
Write a Python function that checks if a set is a subset of another set.

```python
# Exercise 75
```

---

In [10]:
def is_subset_of_another(set1, set2):
    return set1.issubset(set2)
set_a = {1, 2, 3}
set_b = {1, 2, 3, 4, 5}
set_c = {1, 6}

print(f"Is {set_a} a subset of {set_b}? {is_subset_of_another(set_a, set_b)}")
print(f"Is {set_c} a subset of {set_b}? {is_subset_of_another(set_c, set_b)}")

Is {1, 2, 3} a subset of {1, 2, 3, 4, 5}? True
Is {1, 6} a subset of {1, 2, 3, 4, 5}? False

### Exercise 76:
Write a Python program that sorts a list of tuples based on the second element in each tuple.

```python
# Exercise 76
```

---

In [11]:
def sort_list_of_tuples_by_second_element(list_of_tuples):
    sorted_list = sorted(list_of_tuples, key=lambda x: x[1])
    return sorted_list
my_list = [('apple', 3), ('banana', 1), ('cherry', 2), ('date', 4)]
sorted_my_list = sort_list_of_tuples_by_second_element(my_list)
print(f"Original list: {my_list}")
print(f"Sorted list: {sorted_my_list}")

Original list: [('apple', 3), ('banana', 1), ('cherry', 2), ('date', 4)]
Sorted list: [('banana', 1), ('cherry', 2), ('apple', 3), ('date', 4)]

### Exercise 77:
Write a Python function that takes a list of integers and returns a new list with only the positive integers.

```python
# Exercise 77
```

---

In [14]:
def get_positive_integers(integer_list):
    positive_numbers = []
    for number in integer_list:
        if number > 0:
            positive_numbers.append(number)
    return positive_numbers
get_positive_integers([2, 4, 6, 8, 9,-1])

[2, 4, 6, 8, 9]

### Exercise 78:
Write a Python function that takes two sets and returns their union.

```python
# Exercise 78
```

---

In [15]:
def get_set_union(set1, set2):
    return set1.union(set2)
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5, 6}
union_result = get_set_union(set_a, set_b)
print(f"The union of {set_a} and {set_b} is: {union_result}")

The union of {1, 2, 3, 4} and {3, 4, 5, 6} is: {1, 2, 3, 4, 5, 6}

### Exercise 79:
Write a Python function that takes a list of numbers and returns the product of all the numbers.

```python
# Exercise 79
```

---

In [16]:
def calculate_product(numbers):
    product = 1
    for num in numbers:
        product *= num
    return product
calculate_product([5, 7, 3, 8, 2, 1])

1680

### Exercise 80:
Write a Python program that converts a list of characters into a string.

```python
# Exercise 80
```

---

In [17]:
def list_to_string(char_list):
    return "".join(char_list)
letters = ['P', 'y', 't', 'h', 'o', 'n']
word = list_to_string(letters)
print(f"The list of characters: {letters}")
print(f"The converted string: {word}")

The list of characters: ['P', 'y', 't', 'h', 'o', 'n']
The converted string: Python

### Exercise 81:
Write a Python program that finds the second largest number in a list of integers.

```python
# Exercise 81
```

---

In [18]:
def find_second_largest(numbers):
    if not numbers:
        return None
    unique_numbers = sorted(list(set(numbers)))
    if len(unique_numbers) < 2:
        return None  
    return unique_numbers[-2] 
list1 = [10, 20, 4, 45, 99]
print(f"The second largest number in {list1} is: {find_second_largest(list1)}")

The second largest number in [10, 20, 4, 45, 99] is: 45

### Exercise 82:
Write a Python function that takes a dictionary and returns a list of its keys in sorted order.

```python
# Exercise 82
```

---

In [19]:
def get_sorted_keys(input_dict):
    return sorted(input_dict.keys())
data={'b':2, 'a':1, 'c':3}
print(get_sorted_keys(data))

['a', 'b', 'c']

### Exercise 83:
Write a Python program that finds the most common element in a list.

```python
# Exercise 83
```

---

In [24]:
from collections import Counter
def find_most_common_element(input_list):
    if not input_list:
        return None
    element_counts = Counter(input_list)
    most_common_items = element_counts.most_common(1)
    most_common_element = most_common_items[0][0]
    return most_common_element
my_list1 = [1, 2, 3, 2, 1, 2, 4, 5, 2]
most_common1 = find_most_common_element(my_list1)
print(f"The most common element in {my_list1} is: {most_common1}")

The most common element in [1, 2, 3, 2, 1, 2, 4, 5, 2] is: 2

### Exercise 84:
Write a Python function that takes a list of tuples and returns a list of the tuples sorted by the first element.

```python
# Exercise 84
```

---

In [25]:
def sort_tuples_by_first_element(list_of_tuples):
    return sorted(list_of_tuples, key=lambda x: x[0])
data=[(3, 'c'), (1, 'a'), (2, 'b')]
result=sort_tuples_by_first_element(data)
print(result)

[(1, 'a'), (2, 'b'), (3, 'c')]

### Exercise 85:
Write a Python program that removes duplicates from a list of dictionaries.

```python
# Exercise 85
```

---

In [26]:
def remove_duplicate_dicts(list_of_dicts):
    unique_dicts = []
    seen_dicts = set()

    for d in list_of_dicts:
        frozen_dict = tuple(sorted(d.items()))
        if frozen_dict not in seen_dicts:
            seen_dicts.add(frozen_dict)
            unique_dicts.append(d)
    return unique_dicts
data = [
    {"name": "Alice", "age": 30},
    {"name": "Bob", "age": 25},
    {"name": "Alice", "age": 30}, 
    {"name": "Charlie", "age": 35},
    {"age": 25, "name": "Bob"},  
]

unique_data = remove_duplicate_dicts(data)
print(unique_data)

[{'name': 'Alice', 'age': 30}, {'name': 'Bob', 'age': 25}, {'name': 'Charlie', 'age': 35}]

### Exercise 86:
Write a Python function that takes a list of numbers and returns the minimum and maximum numbers in the list.

```python
# Exercise 86
```

---

In [27]:
def find_min_max(numbers):
    if not numbers:
        return None, None

    min_num = numbers[0]
    max_num = numbers[0]

    for num in numbers:
        if num < min_num:
            min_num = num
        if num > max_num:
            max_num = num
        
        
    return min_num, max_num

my_list = [4, 7, 2, 9, 1, 5]
minimum, maximum = find_min_max(my_list)
print(f"Minimum number: {minimum}")
print(f"Maximum number: {maximum}")

Minimum number: 1
Maximum number: 9

### Exercise 87:
Write a Python program that creates a list of tuples from two lists.

```python
# Exercise 87
```

---

In [28]:
def create_list_of_tuples(list1, list2):
    return list(zip(list1, list2))
                
list_a = [1, 2, 3, 4]
list_b = ['apple', 'banana', 'cherry', 'date']

result_tuples = create_list_of_tuples(list_a, list_b)
print(f"List 1: {list_a}")
print(f"List 2: {list_b}")
print(f"List of tuples: {result_tuples}")

List 1: [1, 2, 3, 4]
List 2: ['apple', 'banana', 'cherry', 'date']
List of tuples: [(1, 'apple'), (2, 'banana'), (3, 'cherry'), (4, 'date')]

### Exercise 88:
Write a Python function that takes a list of strings and returns a list of the strings in reverse order.

```python
# Exercise 88
```

---

In [29]:
def reverse_string_list(string_list):
    return string_list[::-1]
my_list = ["apple", "banana", "cherry", "date"]
reversed_list = reverse_string_list(my_list)
print(f"Original list: {my_list}")
print(f"Reversed list: {reversed_list}")

Original list: ['apple', 'banana', 'cherry', 'date']
Reversed list: ['date', 'cherry', 'banana', 'apple']

### Exercise 89:
Write a Python function that takes a list of integers and returns the sum of all odd numbers.

```python
# Exercise 89
```

---

In [30]:
def sum_odd_numbers(numbers):
    total_sum = 0
    for number in numbers:
        if number % 2 != 0:
            total_sum += number
    return total_sum
sum_odd_numbers([1, 2, 2, 3, 4, 4, 4, 5])

9

### Exercise 90:
Write a Python program that checks if a string is a palindrome.

```python
# Exercise 90
```

---

In [31]:
def is_palindrome(text):
    cleaned_text = ''.join(char for char in text if char.isalnum()).lower()
    return cleaned_text == cleaned_text[::-1]
string1 = "Racecar"
string2 = "Hello"
string3 = "A man, a plan, a canal: Panama"
string4 = "Madam"
print(f"'{string1}' is a palindrome: {is_palindrome(string1)}")
print(f"'{string2}' is a palindrome: {is_palindrome(string2)}")
print(f"'{string3}' is a palindrome: {is_palindrome(string3)}")
print(f"'{string4}' is a palindrome: {is_palindrome(string4)}")

'Racecar' is a palindrome: True
'Hello' is a palindrome: False
'A man, a plan, a canal: Panama' is a palindrome: True
'Madam' is a palindrome: True

### Exercise 91:
Write a Python program that finds the median of a list of numbers.

```python
# Exercise 91
```

---

In [33]:
def find_median(numbers):
    if not numbers:
        raise ValueError("Cannot calculate median of an empty list.")
    sorted_numbers = sorted(numbers)
    n = len(sorted_numbers)

    if n % 2 == 0:
        mid1 = sorted_numbers[n // 2 - 1]
        mid2 = sorted_numbers[n // 2]
        median = (mid1 + mid2) / 2
    else:
        median = sorted_numbers[n // 2]
    return median
list1 = [3, 1, 4, 1, 5, 9, 2, 6]
print(f"The median of {list1} is: {find_median(list1)}")

The median of [3, 1, 4, 1, 5, 9, 2, 6] is: 3.5

### Exercise 92:
Write a Python function that takes a list of dictionaries and returns a dictionary with the total value for each key.

```python
# Exercise 92
```

---

In [34]:
def sum_dict_values(list_of_dicts):
    total_values = {}
    for d in list_of_dicts:
        for key, value in d.items():
            total_values[key] = total_values.get(key, 0) + value
    return total_values
liste=[
    {'a':1, 'b':2},
    {'a':3, 'b':4, 'c':5},
    {'b':1, 'c':2}
]
print(sum_dict_values(liste))

{'a': 4, 'b': 7, 'c': 7}

### Exercise 93:
Write a Python program that calculates the mode of a list of numbers.

```python
# Exercise 93
```

---

In [35]:
def calculate_mode(numbers):
    if not numbers:
        return []  
    counts = Counter(numbers)
    max_frequency = 0
    if counts: 
        max_frequency = max(counts.values())
    modes = [num for num, freq in counts.items() if freq == max_frequency]
    if len(modes) == len(counts) and len(numbers) > 1:
        return [] 
    else:
        return modes
list1 = [1, 2, 2, 3, 4, 4, 4, 5]
list2 = [1, 1, 2, 2, 3, 3] 
list3 = [1, 2, 3, 4, 5]    
list4 = [7]                
list5 = []                

print(f"Mode(s) of {list1}: {calculate_mode(list1)}")
print(f"Mode(s) of {list2}: {calculate_mode(list2)}")
print(f"Mode(s) of {list3}: {calculate_mode(list3)}")
print(f"Mode(s) of {list4}: {calculate_mode(list4)}")
print(f"Mode(s) of {list5}: {calculate_mode(list5)}")

Mode(s) of [1, 2, 2, 3, 4, 4, 4, 5]: [4]
Mode(s) of [1, 1, 2, 2, 3, 3]: []
Mode(s) of [1, 2, 3, 4, 5]: []
Mode(s) of [7]: [7]
Mode(s) of []: []

### Exercise 94:
Write a Python function that takes a list of numbers and returns the sum of the squares of all the numbers.

```python
# Exercise 94
```

---

In [36]:
def sum_of_squares(numbers):
    total_sum = 0
    for number in numbers:
        total_sum += number ** 2
    return total_sum
sum_of_squares([1, 2, 2, 3, 4, 4, 4, 5])

91

### Exercise 95:
Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.

```python
# Exercise 95
```

---

In [37]:
number_cubes = [(num, num**3) for num in range(1, 6)]
print(number_cubes)

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]

### Exercise 96:
Write a Python function that returns a list of all prime numbers up to `n`.

```python
# Exercise 96
```

---

In [38]:
def find_primes_up_to_n(n: int) -> list[int]:
    if n < 2:
        return []
    is_prime = [True] * (n + 1)
    is_prime[0] = is_prime[1] = False  
    for p in range(2, int(n**0.5) + 1):
        if is_prime[p]:
            for multiple in range(p * p, n + 1, p):
                is_prime[multiple] = False
    primes = [i for i, prime_status in enumerate(is_prime) if prime_status]
    return primes
find_primes_up_to_n(20)

[2, 3, 5, 7, 11, 13, 17, 19]

### Exercise 97:
Write a Python program that finds the common keys between two dictionaries.

```python
# Exercise 97
```

---

In [39]:
def find_common_keys(dict1, dict2):
    keys1 = set(dict1.keys())
    keys2 = set(dict2.keys())
    common_keys = keys1.intersection(keys2)
    return common_keys
dictionary_a = {'apple': 1, 'banana': 2, 'cherry': 3, 'date': 4}
dictionary_b = {'banana': 5, 'date': 6, 'elderberry': 7, 'fig': 8}
common_keys_result = find_common_keys(dictionary_a, dictionary_b)
print(f"Common keys: {common_keys_result}")

Common keys: {'date', 'banana'}

### Exercise 98:
Write a Python function that takes a list of strings and returns a list of the strings that contain more than 5 characters.

```python
# Exercise 98
```

---

In [40]:
def filter_long_strings(string_list):
    long_strings = [s for s in string_list if len(s) > 5]
    return long_strings
my_strings = ["apple", "banana", "kiwi", "grapefruit", "orange", "pear"]
filtered_strings = filter_long_strings(my_strings)
print(filtered_strings)

['banana', 'grapefruit', 'orange']

### Exercise 99:
Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.

```python
# Exercise 99
```

---

In [41]:
def convert_strings_to_tuples_with_length(string_list):
    result_list = []
    for s in string_list:
        result_list.append((s, len(s)))
        return result_list
my_strings = ["apple", "banana", "cherry", "date"]
tuples_with_length = convert_strings_to_tuples_with_length(my_strings)
print(f"Original list of strings: {my_strings}")
print(f"List of tuples (string, length): {tuples_with_length}")

empty_list = []
result_empty = convert_strings_to_tuples_with_length(empty_list)
print(f"\nOriginal empty list: {empty_list}")
print(f"List of tuples (string, length) for empty list: {result_empty}")

single_string_list = ["hello"]
result_single = convert_strings_to_tuples_with_length(single_string_list)
print(f"\nOriginal list with a single string: {single_string_list}")
print(f"List of tuples (string, length) for single string list: {result_single}")

Original list of strings: ['apple', 'banana', 'cherry', 'date']
List of tuples (string, length): [('apple', 5)]

Original empty list: []
List of tuples (string, length) for empty list: None

Original list with a single string: ['hello']
List of tuples (string, length) for single string list: [('hello', 5)]

### Exercise 100:
Write a Python function that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.

```python
# Exercise 100
```

---

In [42]:
def sum_dict_values_by_key(list_of_dicts):
    summed_dict = defaultdict(int)  
    for d in list_of_dicts:
        for key, value in d.items():
            summed_dict[key] += value
    return dict(summed_dict) 
dicts=[{'a':2, 'b':3}, {'a':4, 'b':1, 'c':5}]
print(sum_dict_values(dicts))

{'a': 6, 'b': 4, 'c': 5}