

# Practical_1: Variables and Assignments

# Exercise 1:
Declare a variable `x` and assign it the value `10`.

```python
# Exercise 1
```

In [1]:
x=10
x

10

# Exercise 2:
Assign the value `True` to a variable called `is_valid`.

```python
# Exercise 2
```

In [2]:
is_valid=True
is_valid

True

# Exercise 3:
Create a string variable `name` with the value "Python Programming".

```python
# Exercise 3
```

In [3]:
name="Python Programming"
print(name)

Python Programming

# Exercise 4:
Assign the result of `5 + 3` to a variable `sum_result`.

```python
# Exercise 4
```

In [4]:
sum_result=5+3
sum_result

8

# Exercise 5:
Assign multiple variables in one line: `a = 5`, `b = 10`, `c = 15`.

```python
# Exercise 5
```

In [5]:
a=5
b=10
c=15
a*b*c

750

# Exercise 6:
Assign the value of one variable `x` to another variable `y`.

```python
# Exercise 6
```

In [54]:
x=5
y=3
y=x
y

5

# Exercise 7:
Assign a floating-point number `9.8` to a variable `gravity`.

```python
# Exercise 7
```

In [6]:
gravity=9.8
gravity

9.8

# Exercise 8:
Create a variable `country` and assign it the string value of your favorite country.

```python
# Exercise 8
```

In [7]:
country='senegal'
country

'senegal'

# Exercise 9:
Change the value of variable `age` from `25` to `26` in two separate steps.

```python
# Exercise 9
```

In [55]:
age=25
age=age+1
age=age+0
print(f"new age:{age}")

new age:26

# Exercise 10:
Use one variable to store the result of subtracting two numbers `20 - 7`.

```python
# Exercise 10
```

In [8]:
soust=20-7
soust

13

# Exercise 11:
Assign an integer value and a floating-point value to two different variables.

```python
# Exercise 11
```

In [9]:
x=5
y=1.6
print(x,y)

5 1.6

# Exercise 12:
Assign a boolean value `False` to a variable `is_completed`.

```python
# Exercise 12
```

In [10]:
is_completed=False
is_completed

False

# Exercise 13:
Swap the values of two variables `x` and `y`.

```python
# Exercise 13
```

In [57]:
x=10
y=20
temp=x
x=y
y=temp
print(f"After swapping,x:{x},y={y}")

After swapping,x:20,y=10

# Exercise 14:
Assign a complex number `3 + 4j` to a variable `complex_num`.

```python
# Exercise 14
```

In [12]:
complex_num= 3 + 4j
complex_num

(3+4j)

# Exercise 15:
Reassign a variable from an integer to a string.

```python
# Exercise 15
```

In [58]:
my_variable=123
print(f"type before reassignement:{type(my_variable)}")
my_variable="hello world"  
print(f"type before reassignement:{type(my_variable)}")

type before reassignement:<class 'int'>
type before reassignement:<class 'str'>

# Exercise 16:
Create two variables `first_name` and `last_name`, and assign them your first and last names.

```python
# Exercise 16
```

In [13]:
first_name='mairame'
print(first_name)
last_name='niang'
print(last_name)

mairame
niang

 ### Exercise 17:
Create a variable `temperature` and assign it the value of `35.5`.

```python
# Exercise 17
```

In [14]:
temperature=35.5
temperature

35.5

# Exercise 18:
Assign the result of the multiplication of two numbers `8 * 6` to a variable `product`.

```python
# Exercise 18
```

In [15]:
product=8*6
product

48

# Exercise 19:
Assign a sentence of your choice to a variable `sentence`.

```python
# Exercise 19
```

In [16]:
sentence='you have a choice'
sentence

'you have a choice'

# Exercise 20:
Use an assignment to convert a string `'50'` into an integer variable `int_value`.

```python
# Exercise 20
```

In [65]:
string_value="50"
int_value=int(string_value)
print("converted integer value:{int_value},type:{type{int_value}}")

converted integer value:{int_value},type:{type{int_value}}

# Exercise 21:
Assign the result of dividing `144` by `12` to a variable `quotient`.

```python
# Exercise 21
```

In [17]:
quotient=144/12
quotient

12.0

# Exercise 22:
Assign the remainder of `47 divided by 5` to a variable `remainder`.

```python
# Exercise 22
```

In [18]:
remainder='47 divised 5'
remainder

'47 divised 5'

# Exercise 23:
Create a variable `is_student` and assign it the value `True`.

```python
# Exercise 23
```

In [19]:
is_student=True
is_student

True

# Exercise 24:
Use a variable to store the result of a modulo operation: `45 % 4`.

```python
# Exercise 24
```

In [20]:
modulo=45%4
modulo

1

# Exercise 25:
Create a variable `pi` and assign it the value `3.14159`.

```python
# Exercise 25
```

In [21]:
pi=3.14159
pi

3.14159

# Exercise 26:
Create two variables `length` and `width`, assign them values, and calculate the area of a rectangle.

```python
# Exercise 26
```

In [22]:
length=4
width=6
Aire=(length+width)*2
Aire

20

# Exercise 27:
Assign a negative number to a variable `negative_value`.

```python
# Exercise 27
```

In [23]:
negative_value=-5
negative_value

-5

# Exercise 28:
Assign a string containing a special character (e.g., "Hello, World!") to a variable `greeting`.

```python
# Exercise 28
```

In [24]:
greeting="Hello,World!"
greeting

'Hello,World!'

# Exercise 29:
Create a variable `population` and assign it a large integer value (in billions).

```python
# Exercise 29
```

In [25]:
population=1590467
population

1590467

# Exercise 30:
Use a variable to store the result of raising `2` to the power of `8`.

```python
# Exercise 30
```

In [75]:
x=2**8
x

256

# Exercise 31:
Assign a list of your favorite fruits to a variable `fruits`.

```python
# Exercise 31
```

In [26]:
fruits="banane,orange,pomme"
fruits

'banane,orange,pomme'

# Exercise 32:
Assign a tuple of three numbers to a variable `coordinates`.

```python
# Exercise 32
```

In [27]:
coordinates=(4,8,2)
coordinates

(4, 8, 2)

# Exercise 33:
Assign a dictionary with keys `name` and `age` to a variable `person`.

```python
# Exercise 33
```

In [28]:
person={'name':'sow','age':23}
person

{'name': 'sow', 'age': 23}

# Exercise 34:
Use variables to store the sum of two floating-point numbers.

```python
# Exercise 34
```

In [29]:
x=2.5
y=6.2
somme=x+y
somme

8.7

# Exercise 35:
Create a variable `is_sunny` and assign it the result of a comparison `10 > 5`.

```python
# Exercise 35
```

In [30]:
is_sunny=10>5
is_sunny

True

# Exercise 36:
Assign a string and an integer to two different variables, then print both on one line.

```python
# Exercise 36
```

In [32]:
x='ba'
y=4
print(x,y)

ba 4

# Exercise 37:
Reassign a variable that originally held a number to a boolean value.

```python
# Exercise 37
```

In [67]:
my_variable = 100
print(f"Initial value: {my_variable}, Type: {type(my_variable)}")
my_variable = True
print(f"New value: {my_variable}, Type: {type(my_variable)}")

Initial value: 100, Type: <class 'int'>
New value: True, Type: <class 'bool'>

 ### Exercise 38:
Create a variable `is_weekend` and assign it the result of `False`.

```python
# Exercise 38
```

In [68]:
is_weekend=False
is_weekend

False

# Exercise 39:
Assign a multi-line string to a variable `description`.

```python
# Exercise 39
```

In [34]:
description='first name,last name,age,address'
description

'first name,last name,age,address'

# Exercise 40:
Use variables to store the result of the absolute value of `-25`.

```python
# Exercise 40
```

In [72]:
result = abs(-25)
result

25

# Exercise 41:
Assign the result of a floor division `100 // 6` to a variable `floor_div_result`.

```python
# Exercise 41
```

In [35]:
floor_div_result=100//6
floor_div_result

16

# Exercise 42:
Assign the result of adding a floating-point number to an integer to a variable `mixed_sum`.

```python
# Exercise 42
```

In [73]:
integer_value = 10
float_value = 5.5
mixed_sum =integer_value+float_value
mixed_sum

15.5

# Exercise 43:
Assign a boolean value based on the comparison of two variables `a = 10` and `b = 15`.

```python
# Exercise 43
```

In [36]:
a=10
b=15
a==b

False

 ### Exercise 44:
Assign a long sentence to a variable and count its characters using `len()`.

```python
# Exercise 44
```

In [38]:
sentence="tu es chanceux"
len(sentence)

14

# Exercise 45:
Assign a fractional result `7 / 3` to a variable `division_result`.

```python
# Exercise 45
```

In [39]:
division_result=7/3
division_result

2.3333333333333335

# Exercise 46:
Create a variable `speed` and assign it the value of 100 kilometers per hour.

```python
# Exercise 46
```

In [40]:
speed='100km/h'
speed

'100km/h'

# Exercise 47:
Assign a multi-variable equation like `y = 3x + 5` where `x = 4` to a variable `y`.

```python
# Exercise 47
```

In [74]:
x = 4
y = 3 * x + 5
print(y)

17

# Exercise 48:
Use variables to calculate and store the average of three numbers.

```python
# Exercise 48
```

In [46]:
a=6
b=5
c=2
somme=a+b+c
moy=somme/3
print(moy)

4.333333333333333